.title {
    overflow: hidden;
}

.title button {
    font-weight: normal;
    font-size: .85em;
    color: #c0c0c0;
    border: 1px #c0c0c0 solid;
    background: #ffffff;
    border-radius: 3px;
}

.title button:hover {
    border: 1px #3366cc solid;
    color: #3366cc;
    background: #fffff0;
}

.default-message {
    color: #909090;
    font-style: italic;
    text-align: center;
    padding: 10px;
}