.THIS.main-container {
  /*width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;*/
}

.THIS .copy-container {
    position: absolute;
    left:82px;
    top:36px;
    font-size:40px;
    font-family:"Salesforce Sans";
    font-weight:bold;
    color:#00396B;
    width:600px;
    
}

.THIS .image-container {
    
}