.banner-image {
    position: relative;
    z-index: -1;
}

.banner-image img {
    width: 100%;
    max-height: 290px;
}

.contribute_page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    left: 73px;
    top: 291px;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgb(24 24 24 / 8%), 0px 2px 4px 1px rgb(24 24 24 / 16%);
    border-radius: 8px;
    width: 60%;
    margin: auto;
    margin-top: -11%;
    z-index: 99;
}

.page_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px 12px;
    gap: 10px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 1px 0px #c9c9c9;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.page_title h3 {
    font-family: 'ITC Avant Garde Gothic Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.004em;
    color: #032D60;
}

.page-help {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-help p {
    font-size: 11px;
}

.page_categories {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    height: auto;
}

.page_information {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    height: auto;
    max-height: unset;
}

.page_information>div {
    width: 100%;
}

.page_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 80%;
    padding: 0px 24px;

}

.sub-heading {
    font-family: 'ITC Avant Garde Gothic Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: #444444;
}

.category {
    margin-bottom: 10px;
    width: 100%;
}

.sub-section {
    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgb(24 24 24 / 8%), 0px 2px 4px 1px rgb(24 24 24 / 16%);
    border-radius: 8px;
    padding: 15px;
    margin-top: 6px;
}

.next_button {
    display: flex;
    justify-content: flex-end;
    margin: 15px 0px;
    width: 100%;
}

.action_button {
    display: flex;
    justify-content: space-between;
    margin: 36px 0px 20px;
}

.slds-form-element__label {
    font-family: 'ITC Avant Garde Gothic Pro';
}

.nav_btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
    margin-bottom: 10px;
}

.success_text {
    margin-top: 10px;
}

.success_text span {
    font-family: 'Salesforce Sans';
}

.text_color {
    display: flex;
    color: #696969;
    font-size: 0.75rem;
}

.help_text {
    display: flex;
    align-items: baseline;
    margin: 10px 0px;
}

.help_text_icon {
    font-size: 23px;
    margin-left: 4px;
}

.review_label {
    font-size: 14px;
    color: #032D60;
}

.modal_buttons {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 60%;
    margin-bottom: 15px;
}

.attachment_label {
    color: #767171;
    margin-top: 10px;
    font-size: 14px;
    margin-right: 10px;
}

.bubble {
    --sds-c-pill-color-background: #EEF4FF;
    --slds-c-pill-radius-border: 16px;
    display: block;
    margin-top: 5px;
}

.bubble span {
    padding: 5px !important;
}

.records {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    align-items: baseline;
}

.errormsg {
    color: red;
    margin-top: 10px;
}

.slds-form-element__control .slds-radio {
    display: inline-block !important;
}

.slds-radio {
    display: inline-block !important;
}

.title-with-info {
    display: flex;
    justify-content: space-between;
    margin: 0px 5px;
}

.title-with-info p {
    display: flex;
    align-items: center;
}

.custom-redFont {
    color: red;
    margin-right: 2px;
}

.custom-helptext {
    margin-bottom: 8px;
    margin-left: 5px;

}

.additional_info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 16px;
}

.additional_info>* {
    position: relative;
    width: 33%;
}

.additional_data {
    display: flex;
    flex-direction: column;
}

.additional_data p {
    margin-top: 4px;
}

.additional_author_input {
    padding: 0px !important;
}

.detail-link {
    font-size: 12px;
}

.custom-helptext-target-audience {
    position: absolute;
    right: 55%;
    top: 4px;
}

@media screen and (max-width:1024px) {
    .contribute_page {
        width: 85%;
    }


    .modal_buttons {
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .review_label {
        font-size: 14px;
        color: #032D60;
        margin: 0px 10px;
    }
    .custom-helptext-target-audience {
        right: 40%;
    }
}

@media screen and (max-width:768px) {


    .page_title {
        padding: 24px;
    }


    .category {
        width: 100%;
    }

    .custom-helptext-target-audience {
        right: 35%;
        top: 5px;
    }
}

@media screen and (max-width:540px) {
    .contribute_page {
        width: 90%;
    }

    .page_title {
        padding: 12px;
    }


    .category {
        width: 100%;
    }

    .modal_buttons {
        width: 100%;
        flex-wrap: wrap;
    }

    lightning-file-upload {
        margin: auto;
        margin-top: 18px;
    }

    .review_label {
        font-size: 12px;
        color: #032D60;
        margin: 0px 10px;
    }

    .additional_info {
        flex-direction: column;
    }

    .additional_info>* {
        width: 100%;
    }

    .page_title h3 {
        font-size: 18px;
        line-height: 18px;
    }

    .page-help h3 {
        font-size: 8px !important;
    }

    .page-help p {
        font-size: 8px;
    }

    .custom-helptext-target-audience {
        right: 53%;
    }
}