.THIS .collection-name {
    font-size: 1rem;
    color: #484848;
}

.THIS .results-total {
    color: #19365F;
    font-size: 1.75rem;
    font-family: StationWOFFFontsLight;
}

.THIS .filter-selector {
    float: right;
    padding: 5px;
}

.THIS .collection-items {
    padding: .5rem 0;
}

.THIS .sort-action {
    display: inline-block;
    padding-left: .75rem;
    padding-right: .4rem;
}

.THIS .search-action {
    display: inline-block;
    padding-left: 1.1rem
}

.THIS .search-action-container {
    display: inline;
}