.THIS input {
  color: black !important;
}

.THIS.container-full-width {
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.THIS.backgroundColor-light1 {
  background-color: #ffffff;
  color: #21466f;
  position: relative;
  margin-bottom: -1.5rem;
}

.THIS.backgroundColor-light2 {
  background-color: #f8f8f8;
  color: #21466f;
  position: relative;
  margin-bottom: -1.5rem;
}

.THIS.backgroundColor-dark1 {
  background-color: #54698d !important;
  color: #ffffff;
  position: relative;
  margin-bottom: -1.5rem;
}

.THIS.backgroundColor-dark2 {
  background-color: #21466f !important;
  color: #ffffff;
  position: relative;
  margin-bottom: -1.5rem;
}

.THIS .buttonTheme-light1 {
  font-weight: bold;
  background-color: #018eda !important;
  color: #ffffff;
  width: 120px;
  padding-left: 6px;
  padding-right: 6px;
  display: block;
  text-align: center;
}

.THIS .buttonTheme-light2 {
  font-weight: bold;
  background-color: #018eda !important;
  color: #ffffff;
  padding-left: 6px;
  padding-right: 6px;
  display: block;
  text-align: center;
}

.THIS .buttonTheme-dark1 {
  font-weight: bold;
  border: 2px solid #ffffff;
  background-color: #54698d !important;
  color: #ffffff;
  padding-left: 6px;
  padding-right: 6px;
  display: block;
  text-align: center;
}

.THIS .buttonTheme-dark2 {
  font-weight: bold;
  border: 2px solid #ffffff;
  background-color: #21466f !important;
  color: #ffffff;
  padding-left: 6px;
  padding-right: 6px;
  display: block;
  text-align: center;
}

.THIS .slds-button_neutral {
  font-weight: bold;
  border: var(--buttonBorder);
  background-color: var(--buttonBackground);
  height: var(--buttonHeight);
  color: #ffffff;
}

.THIS .slds-button_icon-border {
  width: var(--buttonHeight);
  height: var(--buttonHeight);
  border-width: 2px;
}

.THIS .main-container {
  margin-left: 4vw;
  margin-right: 4vw;
  margin-bottom: 1.5rem;
}

.THIS .main-title {
  margin-left: 50px;
  margin-right: 50px;
  background: none;
  line-height: 2;
  padding-top: 20px;
}

.THIS .column-outer-container {
  padding-top: 2rem;
  vertical-align: top;
  margin-left: 50px;
  margin-right: 50px;
  background: none;
}

.THIS .item-left-padding {
  padding-left: 1rem;
}

.THIS .item-left-padding_large {
  padding-left: 2rem;
}

.THIS .item-right-padding {
  padding-right: 1rem;
}

.THIS .item-right-padding_large {
  padding-right: 2rem;
}

.THIS .item-container {
  background: none;
  margin-bottom: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.THIS .item-image {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
  border-radius: 6px;
  position: relative;
  /* aspect clamp */
  display: flex;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.THIS .item-image-light1 {
  border-width: 1px;
  border-color: lightgray;
  border-style: solid;
}

.THIS .item-img {
  position: absolute;
  top: 0;
  height: 100%;
  overflow: hidden;
  z-index: 10;
}

.THIS .item-copy {
  background: none;
}

.THIS .item-title {
  font-size: 24px;
  font-family: "Salesforce Sans";
  line-height: 1.4em;
  background: none;
  margin-bottom: 12px;
}

.THIS .item-subtitle {
  line-height: 30px;
  letter-spacing: 0.61px;
  font-size: 22px;
  font-family: "Salesforce Sans";
  font-weight: bold;
  background: none;
  margin-bottom: 8px;
}

.THIS .item-description {
  font-size: 15px;
  letter-spacing: 0.56px;
  line-height: 24px;
  background: none;
  margin-bottom: 14px;
}

.THIS .button-container {
  background: none;
  margin-top: 10px;
  margin-bottom: 16px;
  text-align: center;
  display: inline-block;
  /*width: 100%;*/
}

.THIS .button-container_column {
  background: none;
  margin-top: 10px;
  margin-bottom: 16px;
  text-align: center;
  display: inline-block;
  width: 100%;
}

.THIS .item-richtext-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.THIS .uiOutputRichText {
  max-width: 100%;
  max-height: 100%;
}

.THIS .uiOutputRichText p {
  max-width: 100%;
  max-height: 100%;
}

.THIS .uiOutputRichText img {
  max-height: -webkit-fill-available;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* Adding CSS for Unapproved Content */
.THIS .flag {
  position: relative;
  top: 15px;
}

.THIS .flag-text {
  z-index: 12;
  position: absolute;
  color: white;
  font-size: 0.75rem;
  height: 25px;
  right: 7px;
  margin-left: 10px;
  max-width: 125px;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*
  .THIS .flag:hover .flag-popover {
    display: block
  }
  */
.THIS .flag-popover {
  max-width: 190px;
  margin-top: 15px;
  background: #16315f;
  color: #ffffff;
  display: none;
}

.THIS .shape {
  width: 90px;
  height: 25px;
  right: 0;
  background-color: #66ab48;
  position: absolute;
  z-index: 12;
  display: inline-block;
}

.THIS .shape::after {
  content: " ";
  width: 0;
  height: 0;
  border-top: 25px solid #66ab48;
  border-left: 25px solid transparent;
  position: absolute;
  left: -25px;
}

.THIS .shape::before {
  content: " ";
  width: 0;
  height: 0;
  border-bottom: 25px solid #66ab48;
  border-left: 25px solid transparent;
  position: absolute;
  left: -25px;
}