.playbook__header {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.004em;
    text-transform: capitalize;
    color: #032D60;
    margin-top: 25px;
}

.playbook-page {
    width: 94%;
    margin: auto;
    margin-top: 20px;
}

.playbook__text {
    font-size: 14px;
    line-height: 20px;
    color: #444444;
    margin-top: 10px;
    width: 80%;
}

@media screen and (max-width:920px) {
    .playbook__header {
        font-size: 16px;
        line-height: 14px;
    }

    .playbook__text {
        font-size: 12px;
        line-height: 22px;
    }
}

@media screen and (max-width:540px) {
    .playbook__header {
        font-size: 16px;
        line-height: 2px;
    }

    .playbook__text {
        font-size: 10px;
        line-height: 15px;
        margin: 10px 0px;
    }
}